/*
    Set global styling for all elements;
*/
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #1f3045;
}

html {
  scroll-behavior: smooth;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
    Main custom settings for better workflow;
*/
.content-container {
  max-width: 500px;
  margin: 0 auto;
}

.content-container-admin {
  width: 70%;
  margin: 0 auto;
}

/*
    Header section
*/
.header-section {
  padding: 50px 0;
  text-align: center;
}

.header-section .heading-text {
  display: inline-block;
}

.header-section .heading-text .heading-text-sub {
  float: right;
}

.header-section .heading-text .heading-text-sub a {
  background-color: #df6161;
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
}

.header-section .heading-text .heading-text-sub span {
  background-color: #1f3045;
  color: #fff;
  padding: 3px 5px;
  border-radius: 5px;
  display: inline-block;
}

.badge-main {
  border-radius: 5px;
  padding: 1px 8px;
  margin-right: 5px;
  color: #fff;
}

.badge-main.added {
  background-color: #a89f4e;
}

.badge-main.updated {
  background-color: #7777ff;
}

.badge-main.fixed {
  background-color: #c977ff;
}

.badge-main.removed {
  background-color: #ff7777;
}

/*
    Change log area desing
*/
.changelog-main-block {
  padding: 0 10px;
  position: relative;
}

.changelog-main-block .changelog-slide-bg {
  background-color: #1f3045;
  color: #fff;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.changelog-main-block .change-log-version {
  position: relative;
  border-left: 1px solid #ccc;
  padding: 20px 20px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.changelog-main-block .change-log-version .change-log-dot {
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -5px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #1f3045;
  -webkit-box-shadow: 0 0 0 3px #fff;
          box-shadow: 0 0 0 3px #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.changelog-main-block .change-log-version .change-log-line {
  height: 1px;
  width: 1px;
}

.changelog-main-block .change-log-version h1 {
  margin-top: -10px;
}

.changelog-main-block .change-log-version ul.changes-list {
  list-style-type: none;
}

.changelog-main-block .change-log-version ul.changes-list li.changes-list-item {
  padding: 5px 0;
}

.changelog-main-block .change-log-version.change-log-transition {
  color: #fff;
}

.changelog-main-block .change-log-version.change-log-transition .change-log-dot {
  background-color: #fff;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 0 3px #1f304500;
          box-shadow: 0 0 0 3px #1f304500;
}

/*
    Pagination
*/
.changelog-pagination-main {
  margin: 50px 0;
}

.changelog-pagination-main ul {
  display: table;
  margin: 0 auto;
  list-style: none;
}

.changelog-pagination-main ul li {
  text-align: center;
  line-height: 25px;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-color: #354b66;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.changelog-pagination-main ul li a {
  color: #fff;
  display: block;
  width: inherit;
  height: inherit;
}

.changelog-pagination-main ul li:hover {
  background-color: #1f3045;
}

/*
    Footer
*/
.footer-section {
  padding: 80px 0 20px 0;
  text-align: center;
}

/*
    Login form
*/
.login-form label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.login-form input {
  display: block;
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #f8f2f2;
  color: #1f3045;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.login-form input::-webkit-input-placeholder {
  color: #1f3045;
}

.login-form input:-ms-input-placeholder {
  color: #1f3045;
}

.login-form input::-ms-input-placeholder {
  color: #1f3045;
}

.login-form input::placeholder {
  color: #1f3045;
}

.login-form .login-form-buttons-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-form button.login-form-button, .login-form a.login-form-button {
  display: inline-block;
  padding: 15px 10px;
  border-radius: 5px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  text-align: center;
}

.login-form button.login-form-button.login-btn, .login-form a.login-form-button.login-btn {
  width: 70%;
  background-color: #1f3045;
}

.login-form button.login-form-button.login-btn:hover, .login-form a.login-form-button.login-btn:hover {
  background-color: #2a3f58;
}

.login-form button.login-form-button.home-btn, .login-form a.login-form-button.home-btn {
  width: 30%;
  margin-left: 15px;
  background-color: #df6161;
}

.login-form button.login-form-button.home-btn:hover, .login-form a.login-form-button.home-btn:hover {
  background-color: #f16d6d;
}

.login-form span.error-message {
  display: block;
  padding-bottom: 10px;
  color: #df6161;
}

/*
    Admin user panel
*/
h1.acp-greetings-text {
  display: inline-block;
  color: #1f3045;
  font-size: 20px;
}

span.admin-name-highlight {
  color: #f16d6d;
}

a.logout-btn {
  color: #fff;
  background-color: #1f3045;
  padding: 3px 5px;
  border-radius: 3px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

a.logout-btn:hover {
  background-color: #2a3f58;
}

.admin-control-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.admin-control-versions {
  width: 30%;
  max-height: 640px;
  background-color: #1f3045;
  overflow-y: scroll;
  padding-left: 10px;
}

.admin-control-versions ul {
  list-style: none;
}

.admin-control-versions li {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  line-height: 50px;
  margin: 0;
}

.admin-control-versions a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  color: #fff;
  background-color: #1f3045;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.admin-control-versions a:hover, .admin-control-versions a.active {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #2a3f58;
}

.admin-control-actions {
  width: 70%;
  min-height: 600px;
  background-color: #f8f2f2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 30px;
}

.admin-control-actions label {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.admin-control-actions input {
  display: block;
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #1f3045;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

.admin-control-actions textarea {
  display: block;
  width: 100%;
  height: 250px;
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #fff;
  color: #1f3045;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  resize: none;
}

.admin-control-actions input::-webkit-input-placeholder {
  color: #1f3045;
}

.admin-control-actions input:-ms-input-placeholder {
  color: #1f3045;
}

.admin-control-actions input::-ms-input-placeholder {
  color: #1f3045;
}

.admin-control-actions input::placeholder {
  color: #1f3045;
}

.admin-control-suggestions {
  display: block;
  margin-bottom: 5px;
}

.admin-control-suggestions button.badge-main-btn {
  border-radius: 5px;
  padding: 4px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.admin-control-suggestions button.badge-main-btn.added {
  background-color: #a89f4e;
}

.admin-control-suggestions button.badge-main-btn.added:hover {
  background-color: #c5bc65;
}

.admin-control-suggestions button.badge-main-btn.updated {
  background-color: #7777ff;
}

.admin-control-suggestions button.badge-main-btn.updated:hover {
  background-color: #8d8dfa;
}

.admin-control-suggestions button.badge-main-btn.fixed {
  background-color: #c977ff;
}

.admin-control-suggestions button.badge-main-btn.fixed:hover {
  background-color: #ce92f7;
}

.admin-control-suggestions button.badge-main-btn.removed {
  background-color: #ff7777;
}

.admin-control-suggestions button.badge-main-btn.removed:hover {
  background-color: #ff8a8a;
}

.admin-control-buttons {
  float: right;
}

.admin-control-buttons button.admin-control-form-btn, .admin-control-buttons a.admin-control-form-btn {
  display: inline-block;
  padding: 15px 10px;
  border-radius: 5px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  text-align: center;
}

.admin-control-buttons button.admin-control-form-btn.update-btn, .admin-control-buttons a.admin-control-form-btn.update-btn {
  width: 100px;
  background-color: #1f3045;
}

.admin-control-buttons button.admin-control-form-btn.update-btn:hover, .admin-control-buttons a.admin-control-form-btn.update-btn:hover {
  background-color: #2a3f58;
}

.admin-control-buttons button.admin-control-form-btn.delete-btn, .admin-control-buttons a.admin-control-form-btn.delete-btn {
  width: 100px;
  margin-left: 5px;
  background-color: #df6161;
}

.admin-control-buttons button.admin-control-form-btn.delete-btn:hover, .admin-control-buttons a.admin-control-form-btn.delete-btn:hover {
  background-color: #f16d6d;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}
/*# sourceMappingURL=styles.css.map */